html {
    background-color: #f4eade;
}

.button {
    width: 200px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    margin: 6px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.button:hover {
    width: 210px;
    box-shadow: 8px 7px 7px rgba(0, 0, 0, 0.2);
}

.rojo {
    background-color: #ed8c72;
    color: #fff;
}

.azul {
    background-color: #2988bc;
    color: #fff;
}

.cyan {
    background-color: #2f496e;
    color: #fff;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}