html {
    background-color: #f4eade;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 32px;
    font-style: normal;
    /* text-shadow: 5px 3px 3px rgba(17, 17, 17, 0.5); */
}

.button {
    width: 200px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    margin: 6px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.rojo {
    background-color: #ed8c72;
    color: #fff;
}

.azul {
    background-color: #2988bc;
    color: #fff;
}

.cyan {
    background-color: #2f496e;
    color: #fff;
}

.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}